html, body {
	height: 100%;
}
body { 
	background: #060606; color: #F2F2F2;
	font-family: Verdana; 
	font-weight: normal; 
	font-size: 10px; 
	margin: 0;
	height: 100%;
}

div.header {
	background: #111; color: #F2F2F2;
	background-image: url('../img/header.jpg'); background-repeat: no-repeat; background-position: 2px 2px; 
	padding: 3px;
	width: 960px; height: 200px; 
	border-top: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; border-bottom: none;
}

div.navigation {
	padding: 0px;
	background: #222;
	width: 966px; height: 33px;
	border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; 
}

div.content {
	background: #09090C; color: #F2F2F2;
	padding: 3px; margin-bottom: 25px;
	width: 960px;
	border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000;
}

div#maxheight {
	width: 964px;
	margin: 0 auto; 
	min-height: 100%;
	background-color: #09090C; border: none;
	overflow: hidden;
}
* html #maxheight {
	height: 100%; margin: 0 auto;
}

img { border: none; }

a { color: #33FF00; font-weight: bold; text-decoration: none; }
a:hover { color: #66FF00; font-weight: bold; text-decoration: underline; }

h1, h2, h3, h4, h5 { color: #FFF; margin-left: 15px; }
h2,h3 { border-bottom: 1px solid #222; padding-bottom: 7px; margin-top: 25px;}
p { margin-left: 15px; margin-right: 30px; }
a.skinlink { color: #33FF00; font-weight: normal; text-decoration: none; font-size: 0.9em; }
a:hover.skinlink { color: #66FF00; font-weight: normal; text-decoration: underline; font-size: 0.9em; }
pre { margin-left: 25px; margin-right: 25px; padding: 7px 15px; background: #0A0A0c;  border: 1px dotted #222; font-family: verdana; color: #ccc; font-size: 10px; line-height: 1.6em;}
ul.news_note {
	background-color: #111;
	color: red; 
	font-size: 0.9em; 
	line-height: 1.5;
	width: 640px; 
	margin-left: 80px; 
	padding: 5px 25px; 
	margin-top: 5px; 
	border: 1px dashed #666;
	list-style-position: outside; 
}

pre.prenote {
	font-size: 1.3em;	
        background-color: #111;
        color: #444;
        font-size: 0.9em;
        line-height: 1.5;
        width: 830px;
        margin-left: 80px;
        padding: 5px 25px;
        margin-top: 5px;
        border: 1px dashed #333;
        list-style-position: outside;
}
