ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: left;
	width: 926px;
	background: #222;
	background: url(../img/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0; display: block; 
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 10px 7px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
	font-weight: normal;
}
ul.topnav li a:hover{
	background: url(../img/topnav_hover.png) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../img/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 180px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 180px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 154px;
	background: #333 url(../img/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(../img/dropdown_linkbg.gif) no-repeat 10px center;
}
.navonline { padding-left: 15p; color: #FFFFFF; font-weight: bold; padding-left: 25px; background-color: #222;}
div.fixme { padding: 1px 3px; font-size: 0.8em; }
.spacer { color: #FFFFFF; font-weight: bold; background-color: #000; height: 2px;}
.visitors { color: #FFFFFF; font-weight: bold; background-color: #222; padding-left: 20px; }



ul.topnav li div.login {
        position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
        right: -100px; top: 35px;
        margin: 0; padding: 10px 20px;
        display: none; 
        float: left;
        width: 320px;
        border: 1px solid #111;
	-moz-border-radius-bottomleft: 25px;
	border-bottom-left-radius: 25px;
	border-left: 1px solid #000; border-bottom: 1px solid #000;
	background: #333 url(../img/topnav_bg.gif) repeat-x bottom; /* url(../img/32x32-35pc.png); */
}
