ul.plr_list {
        list-style: none;
        padding: 0 20px;
        margin: 0;
	width: 290px;
}
ul li.plr_row {
	border-radius: 8px; -moz-border-radius: 8px;
	margin-top: 15px; padding: 10px; 
	display: block;
	background-color: #222;
	color: 000;
	-moz-box-shadow: 3px 3px 3px #000; -webkit-box-shadow: 3px 3px 3px #000; box-shadow: 3px 3px 3px #000;
}
ul li.plr_row div.plr_1 {
	font-weight: bold; font-size: 13px; color: #F2F2F2;
}
ul li.plr_row div.plr_2 {
	margin-left: 120px; color: #F2F2F2;
}
div.playerbox { margin: 25px; padding: 15px 15px; background: #0A0A0c;  border: 1px dotted #222; font-family: verdana; color: #ccc; font-size: 10px; width: 430px;}
div.playerbox { margin: 25px; padding: 15px 15px; background: #0A0A0c;  border: 1px dotted #222; font-family: verdana; color: #ccc; font-size: 10px; width: 430px;}
div.playerbox ul { margin: 0; padding: 0; }
div.playerbox ul li { list-style-type: none; padding-left: 15px; }
div.playerbox h2 { margin-top: 0; }
div.playerbox h4 { margin-bottom: 5px; }
div.offline { color: #666; }
div.offline h2, div.offline h4 { color: #999; }
div.offline a { color: #009900; }
